{% extends '../base.html' %}

{% block content %}

{% load static %}

<div class="background" style="overflow-y: scroll;">
  <p id="now">原物料現有訂單</p>
  <div class="function">
    <button class="add" type="button" onclick="location.href='/material/order/add'"><i class="fas fa-plus"></i>
      新增</button>
    <button class="delete" type="button" onclick="location.href='#'"><i class="fas fa-trash-alt"></i> 刪除</button>
  </div>
  <div id="marterial-order-table" class="record" >
    <table class="tablebody">
      <tr>
        <th>選取</th>
        <th>訂單編號</th>
        <th>供應商</th>
        <th>總額</th>
        <th>總重(公斤)</th>
        <th>訂單日期</th>
        <th>進貨日期</th>
      </tr>
<!-- TODO fix this -->
    </table>
    <div id="marterial-order-table-tr"></div>
  </div>
</div>
<script src="{% static 'js/marterial/currentOrderRecord.js' %}"></script>
</body>

</html>

{% endblock %}