{% extends '../base.html' %}

{% block content %}

{% load static %}

<div class="background">
  <p id="now">EPQ</p>
  <div class="selecet_matel">
    <label>商品 : </label>
    <select class="eoq-select" onchange="selectOnChange(this)" name="selecter" id="floatingSelectGrid"
      aria-label="Floating label select example">
      <option selected>請選擇商品</option>
      {% for inventory in inventoryList %}
      <option value="{{inventory.id}}">{{inventory.name}}</option>
      {% endfor %}
    </select>
    <button class="save" onclick="getData()"></i>產生</button>
  </div>
  <div class="record">
    <table class="tablehead">
      <tr>
        <th>資訊</th>
        <th>數值</th>
      </tr>
      <tr>
        <td>目前存量</td>
        <td id="epq-current-amount"></td>
      </tr>
      <tr>
        <td>年度需求量</td>
        <td id="epq-current-iYearNeed"></td>
      </tr>
      <tr>
        <td>年持有成本</td>
        <td id="epq-current-iYearCost"></td>
      </tr>
      <tr>
        <td>訂購成本</td>
        <td id="epq-current-iYearOrderCost"></td>
      </tr>
      <tr>
        <td>EPQ</td>
        <td id="epq-current-epq"></td>
      </tr>
    </table>
  </div>
</div>
</body>
<script src="{% static 'js/store/epq.js' %}"></script>

</html>

{% endblock %}