{% extends '../base.html' %}

{% block content %}

{% load static %}

<div class="background" style="overflow-y: scroll;">
  <p id="now">原物料訂單歷史紀錄</p>
  <div class="record" >
    <table class="tablebody">
      <tr>
        <th>訂單編號</th>
        <th>供應商</th>
        <th>總額</th>
        <th>總重(公斤)</th>
        <th>訂單日期</th>
        <th>進貨日期</th>

      </tr>
      <!-- TODO fix this -->
    </table>
    <div id="marterial-order-table-tr"></div>
  </div>
</div>
<script src="{% static 'js/marterial/historyOrderRecord.js' %}"></script>
</body>

</html>

{% endblock %}