{% extends '../base.html' %}

{% block content %}

<div class="background" style="overflow-y: scroll;">
  <p id="now">原物料訂單歷史紀錄</p>
  <div class="record" style="overflow-y: scroll;">
    <table class="tablebody">
      <tr>
        <th>訂單編號</th>
        <th>供應商</th>
        <th>總額</th>
        <th>總重(公斤)</th>
        <th>訂單日期</th>
        <th>進貨日期</th>

      </tr>
      {% for order in historyList %}
      <tr>
        <td>{{ order.id }}</td>
        <td>{{ order.materialOrderId.supplierId }}</td>
        <td>${% widthratio order.amount 1 order.price %}</td>
        <td>{{ order.weight }}</td>
        <td>{{ order.materialOrderId.orderDate }}</td>
        <td>{{ order.materialOrderId.purchaseDate }}</td>
      </tr>
      {% endfor %}

    </table>
  </div>
</div>
</body>

</html>

{% endblock %}