{% extends '../base.html' %}

{% block content %}

<div class="background" style="overflow-y: scroll;">
  <p id="now">商品存貨</p>
  <div class="function">
    <button class="add" type="button" onclick="location.href='網址放這裡'"><i class="fas fa-plus"></i> 新增</button>
    <button class="delete" type="button" onclick="location.href='網址放這裡'"><i class="fas fa-trash-alt"></i> 刪除</button>
    <button class="revise" type="button" onclick="location.href='網址放這裡'"><i class="fas fa-pencil-alt"></i> 修改</button>
    <button class="save" type="button" onclick="location.href='網址放這裡'"> <i class="fas fa-save"></i> 儲存</button>
  </div>
  <div class="record" style="overflow-y: scroll;">
    <table class="tablebody">
      <tr>
        <th>原物料編號</th>
        <th>原物料名稱</th>
        <th>目前存量(公斤)</th>

      </tr>
      {% for inventory in inventoryList %}
      <tr>
        <td>{{ inventory.id }}</td>
        <td>{{ inventory.name}}</td>
        <td>{{ inventory.currentAmount }}</td>
      </tr>
      {% endfor %}

    </table>
  </div>
</div>
</body>

</html>


{% endblock %}