{% extends '../base.html' %}

{% block content %}

<div class="background" style="overflow-y: scroll;">
  <p id="now">原物料存貨</p>
  <div class="record" >
    <table class="tablebody">
      <tr>
        <th>原物料編號</th>
        <th>原物料名稱</th>
        <th>目前存量(公斤)</th>

      </tr>
      {% for inventory in inventoryList %}
      <tr>
        <td>{{ inventory.id }}</td>
        <td>{{ inventory.name}}</td>
        <td>{{ inventory.currentAmount }}</td>
      </tr>
      {% endfor %}

    </table>
  </div>
</div>
</body>

</html>


{% endblock %}