{% extends '../base.html' %}

{% block content %}

<div class="background"  style="overflow-y: scroll;" >
  <p id="now">新增商品訂單</p>
  <div class="tablebody">
      <table class="tablebdy">
      <tr>
        <th>名稱</th>
        <th>單價</th>
        <th>數量</th>
        <th>保存期限</th>
      </tr>
      <tr>
        <td>
          <input class="name"type="text" >
        </td>
        <td>
          <input class="name"type="number" >
        </td>
        <td>
          <input class="name"type="number" >
        </td>
        <td>
          <input class="name"type="text" >
        </td>
      </tr>
      <tr>
        <td>
          <input class="name2"type="text" >
        </td>
        <td>
          <input class="name2"type="number" >
        </td>
        <td>
          <input class="name2"type="number" >
        </td>
        <td>
          <input class="name2"type="text" >
        </td>
      </tr>
      <tr>
        <td>
          <input class="name"type="text" >
        </td>
        <td>
          <input class="name"type="number" >
        </td>
        <td>
          <input class="name"type="number" >
        </td>
        <td>
          <input class="name"type="text" >
        </td>
      </tr>
      <tr>
        <td>
          <input class="name2"type="text" >
        </td>
        <td>
          <input class="name2"type="number" >
        </td>
        <td>
          <input class="name2"type="number" >
        </td>
        <td>
          <input class="name2"type="text" >
        </td>
      </tr>
      <tr>
        <td>
          <input class="name"type="text" >
        </td>
        <td>
          <input class="name"type="number" >
        </td>
        <td>
          <input class="name"type="number" >
        </td>
        <td>
          <input class="name"type="text" >
        </td>
      </tr>
      <tr>
        <td>
          <input class="name2"type="text" >
        </td>
        <td>
          <input class="name2"type="number" >
        </td>
        <td>
          <input class="name2"type="number" >
        </td>
        <td>
          <input class="name2"type="text" >
        </td>
      </tr>
      <tr>
        <td>
          <input class="name"type="text" >
        </td>
        <td>
          <input class="name"type="number" >
        </td>
        <td>
          <input class="name"type="number" >
        </td>
        <td>
          <input class="name"type="text" >
        </td>
      </tr>
      <tr>
        <td>
          <input class="name2"type="text" >
        </td>
        <td>
          <input class="name2"type="number" >
        </td>
        <td>
          <input class="name2"type="number" >
        </td>
        <td>
          <input class="name2"type="text" >
        </td>
      </tr>
      <tr>
        <td>
          <input class="name"type="text" >
        </td>
        <td>
          <input class="name"type="number" >
        </td>
        <td>
          <input class="name"type="number" >
        </td>
        <td>
          <input class="name"type="text" >
        </td>
      </tr>
    </table>
  </div>
  <div class="store">
     <label >商店: </label>
     <select class="add-order-form-select" onchange="selectOnChange(this)" name="selecter" id="floatingSelectGrid" aria-label="Floating label select example">
        <option selected>請選擇商店</option>
        {% for store in storerList %}
        <option value="{{store.id}}">{{store.name}}</option>
        {% endfor %}
      </select>
      <button class="save" onclick="send()">
        <i class="fas fa-save"></i> 儲存</button>
    </div>
  <!-- </form> -->
</div>
<script src="{% static 'js/marterial/addOrder.js' %}"></script>

</body>

</html>
{% endblock %}

