{% extends '../base.html' %}

{% block content %}

<div class="background"  >
  <p id="now">新增商品訂單</p>
  <div class="tablebody">
      <table class="tablebdy">
      <tr>
        <th>名稱</th>
        <th>單價</th>
        <th>數量</th>
        <th>保存期限</th>
      </tr>
      <tr>
        <td>
          <input class="name"type="text" >
        </td>
        <td>
          <input class="name"type="number" >
        </td>
        <td>
          <input class="name"type="number" >
        </td>
        <td>
          <input class="name"type="text" >
        </td>
      </tr>
      <tr>
        <td>
          <input class="name2"type="text" >
        </td>
        <td>
          <input class="name2"type="number" >
        </td>
        <td>
          <input class="name2"type="number" >
        </td>
        <td>
          <input class="name2"type="text" >
        </td>
      </tr>
      <tr>
        <td>
          <input class="name"type="text" >
        </td>
        <td>
          <input class="name"type="number" >
        </td>
        <td>
          <input class="name"type="number" >
        </td>
        <td>
          <input class="name"type="text" >
        </td>
      </tr>
      <tr>
        <td>
          <input class="name2"type="text" >
        </td>
        <td>
          <input class="name2"type="number" >
        </td>
        <td>
          <input class="name2"type="number" >
        </td>
        <td>
          <input class="name2"type="text" >
        </td>
      </tr>
      <tr>
        <td>
          <input class="name"type="text" >
        </td>
        <td>
          <input class="name"type="number" >
        </td>
        <td>
          <input class="name"type="number" >
        </td>
        <td>
          <input class="name"type="text" >
        </td>
      </tr>
      <tr>
        <td>
          <input class="name2"type="text" >
        </td>
        <td>
          <input class="name2"type="number" >
        </td>
        <td>
          <input class="name2"type="number" >
        </td>
        <td>
          <input class="name2"type="text" >
        </td>
      </tr>
      <tr>
        <td>
          <input class="name"type="text" >
        </td>
        <td>
          <input class="name"type="number" >
        </td>
        <td>
          <input class="name"type="number" >
        </td>
        <td>
          <input class="name"type="text" >
        </td>
      </tr>
      <tr>
        <td>
          <input class="name2"type="text" >
        </td>
        <td>
          <input class="name2"type="number" >
        </td>
        <td>
          <input class="name2"type="number" >
        </td>
        <td>
          <input class="name2"type="text" >
        </td>
      </tr>
      <tr>
        <td>
          <input class="name"type="text" >
        </td>
        <td>
          <input class="name"type="number" >
        </td>
        <td>
          <input class="name"type="number" >
        </td>
        <td>
          <input class="name"type="text" >
        </td>
      </tr>
    </table>
  </div>
  <div class="store">
     <label >商店: </label>
     <label class="supplier">是要怎麼放啦幹</label>
     <button class="save" type="button" onclick="location.href='網址放這裡'">
      <i class="fas fa-save"></i>   儲存</button>
  </div>
</div>

</body>

{% endblock %}

