{% extends '../base.html' %}

{% block content %}

{% load static %}

<div class="background" style="overflow-y: scroll;">

  <div class="background">
    <p id="now">新增商品訂單</p>
    <div class="tablebody">
      <table class="tablebdy">
        <tr>
          <th>名稱</th>
          <th>單價</th>
          <th>數量</th>
          <th>保存期限</th>
        </tr>
        {% for nn in n %}
        <tr>
          <td>
            <input onchange="inputOnchange(this)" class="{% cycle 'name' 'name2' %}" name="{{nn.name}}" type="text"
              value="">
          </td>
          <td>
            <input onchange="inputOnchange(this)" class="{% cycle 'name' 'name2' %}" name="{{nn.price}}" type="number"
              value="">
          </td>
          <td>
            <input onchange="inputOnchange(this)" class="{% cycle 'name' 'name2' %}" name="{{nn.amount}}" type="number"
              value="">
          </td>
          <td>
            <input onchange="inputOnchange(this)" class="{% cycle 'name' 'name2' %}" name="{{nn.exp}}" type="text"
              value="">
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <div class="store">
      <label>商店: </label>
      <select class="add-order-form-select" onchange="selectOnChange(this)" name="selecter" id="floatingSelectGrid"
        aria-label="Floating label select example">
        <option selected>請選擇商店</option>
        {% for store in storeList %}
        <option value="{{store.id}}">{{store.name}}</option>
        {% endfor %}
      </select>
      <button class="save" onclick="send()">
        <i class="fas fa-save"></i> 儲存</button>
    </div>
    <!-- </form> -->
  </div>
  <script src="{% static 'js/store/addOrder.js' %}"></script>

  </body>

  </html>
  {% endblock %}