{% extends '../base.html' %}

{% block content %}

{% load static %}

<div class="background" style="overflow-y: scroll;">
  <p id="now">商品現有訂單</p>
  <div class="function">
    <button class="add" type="button" onclick="location.href='/store/order/add'"><i class="fas fa-plus"></i> 新增</button>
    <button class="delete" type="button" onclick="location.href='#'"><i class="fas fa-trash-alt"></i> 刪除</button>
  </div>
  <div class="record">
    <table class="tablebody">
      <tr>
        <th>選取</th>
        <th>訂單編號</th>
        <th>商店</th>
        <th>總額</th>
        <th>總數</th>
        <th>訂單日期</th>
        <th>出貨日期</th>

      </tr>
      <!-- TODO fix this -->
    </table>
    <div id="store-order-table-tr"></div>
  </div>
</div>
<script src="{% static 'js/store/currentOrderRecord.js' %}"></script>
</body>

{% endblock %}