{% extends '../base.html' %}

{% block content %}

<div class="background" style="overflow-y: scroll;">
  <p id="now">商品存貨</p>
  <div class="record" >
    <table class="tablebody">
      <tr>
        <th>商品編號</th>
        <th>商品名稱</th>
        <th>目前存量</th>

      </tr>
      {% for inventory in inventoryList %}
      <tr>
        <td>{{ inventory.id }}</td>
        <td>{{ inventory.name}}</td>
        <td>{{ inventory.currentAmount }}</td>
      </tr>
      {% endfor %}

    </table>
  </div>
</div>
</body>

</html>


{% endblock %}