{% extends '../ben_base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/rmf.css' %}" />
<div class="title">
  <h1>RFM</h1>
</div>
<div class="content">
  <div class="content-top">

    <div class="row g-2">
      <div class="col-md">
        <div class="form-floating">
          <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
            <option selected>年</option>
            <option value="1">2021</option>
            <option value="2">2020</option>
            <option value="3">2019</option>
          </select>
          <label for="floatingSelectGrid">開始西元年</label>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating">
          <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
            <option selected>月</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
          </select>
          <label for="floatingSelectGrid">開始月份</label>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating">
          <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
            <option selected>年</option>
            <option value="1">2021</option>
            <option value="2">2020</option>
            <option value="3">2019</option>
          </select>
          <label for="floatingSelectGrid">結束西元年</label>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating">
          <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
            <option selected>月</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
          </select>
          <label for="floatingSelectGrid">月份</label>
        </div>
      </div>
      <button type="button" class="btn btn-dark">產生</button>
    </div>


  </div>
  <div class="content-down">
    <div class="content-table">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">商店</th>
            <th scope="col">RMF</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>7-11政大門市</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>全家木柵店</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">全家正富店</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td colspan="2">全聯木新門市</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td colspan="2">JASONS政大店</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td colspan="2">頂好木新門市</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td colspan="2">美聯社新光門市</td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td colspan="2">7-11新秀門市</td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td colspan="2">7-11金恩門市</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td colspan="2">全家興政店</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="record" >
      <table class="tablehead" >
        <tr>
          <th>小組</th>
          <th>RFM代碼</th> 
          <th>每單位成本</th>
          <th>每銷售淨利</th>
          <th>損益平衡值(%)</th>
          <th>實際回應率(%)</th>
          <th>損益平衡指數</th>   
        </tr>
        <tr>
          <td>1</td>
          <td>111</td>
          <td>1</td>
          <td>45</td>
          <td>2.22</td>
          <td>17.55</td>
          <td>690</td>
        </tr>
        <tr>
          <td>2</td>
          <td>112</td>
          <td>1</td>
          <td>45</td>
          <td>2.22</td>
          <td>17.45</td>
          <td>685</td>
        </tr>
        <tr>
          <td>3</td>
          <td>113</td>
          <td>1</td>
          <td>45</td>
          <td>2.22</td>
          <td>17.35</td>
          <td>681</td>
        </tr>
        <tr>
          <td>4</td>
          <td>114</td>
          <td>1</td>
          <td>45</td>
          <td>2.22</td>
          <td>17.25</td>
          <td>676</td>
        </tr>
        <tr>
          <td>5</td>
          <td>115</td>
          <td>1</td>
          <td>45</td>
          <td>2.22</td>
          <td>17.15</td>
          <td>572</td>
        </tr>
        <tr>
          <td>6</td>
          <td>121</td>
          <td>1</td>
          <td>45</td>
          <td>2.22</td>
          <td>17.05</td>
          <td>667</td>
        </tr>
        <tr>
          <td>7</td>
          <td>122</td>
          <td>1</td>
          <td>45</td>
          <td>2.22</td>
          <td>12.91</td>
          <td>481</td>
        </tr>
        <tr>
          <td>8</td>
          <td>213</td>
          <td>1</td>
          <td>45</td>
          <td>2.22</td>
          <td>0.98</td>
          <td>-56</td>
        </tr>
        <tr>
          <td>9</td>
          <td>314</td>
          <td>1</td>
          <td>45</td>
          <td>2.22</td>
          <td>0.94</td>
          <td>-58</td>
        </tr>
        <tr>
          <td>10</td>
          <td>355</td>
          <td>1</td>
          <td>45</td>
          <td>2.22</td>
          <td>0.90</td>
          <td>-60</td>
        </tr>  
      </table>
    </div>
  </body>
  </html>
  
  </div>


</div>

<script src="{% static 'js/rmf.js' %}"></script>

{% endblock %}